In [ ]:
#running sample in this .ipynb

In [19]:
import sqlite3

# Create SQLite database connection
conn = sqlite3.connect('database.db')
c = conn.cursor()

# Create table if not exists
c.execute('''CREATE TABLE IF NOT EXISTS users
             (name TEXT, id INTEGER)''')

def add_user(name, id):
    c.execute("INSERT INTO users (name, id) VALUES (?, ?)", (name, id))
    conn.commit()
    print("User added successfully")

def get_users_above_id(limit):
    c.execute("SELECT name FROM users WHERE id > ?", (limit,))
    result = c.fetchall()
    names = [row[0] for row in result]
    return {"names_with_ids_above_5": names}

# Test add_user function
add_user("xyz", 100)
add_user("abc", 10)
add_user("def", 1)
add_user("abc", 1)
add_user("wq", 10)

# Test get_users_above_id function
output = get_users_above_id(5)
print(output)

OperationalError: database is locked

In [ ]:
Input1: {“name”: “xyz”, “id”:100}
Input2: {“name”: “abc”, “id”:10}
Input3: {“name”: “def”, “id”:1}
Input4: {“name”: “abc”, “id”:1}
Input5: {“name”: “wq”, “id”:10}

In [1]:
import sqlite3

# Create SQLite database connection
conn = sqlite3.connect('database.db')
c = conn.cursor()

# Create table if not exists
c.execute('''CREATE TABLE IF NOT EXISTS users
             (name TEXT, id INTEGER)''')

def add_user():
    name = input("Enter user name: ")
    id = int(input("Enter user ID: "))
    c.execute("INSERT INTO users (name, id) VALUES (?, ?)", (name, id))
    conn.commit()
    print("User added successfully")

def get_users_above_id(limit):
    c.execute("SELECT name FROM users WHERE id > ?", (limit,))
    result = c.fetchall()
    names = [row[0] for row in result]
    return {"names_with_ids_above_5": names}

# Test add_user function
add_user()
add_user()
add_user()
add_user()
add_user()

# Test get_users_above_id function
limit = int(input("Enter the ID limit: "))
output = get_users_above_id(limit)
print(output)

ValueError: invalid literal for int() with base 10: ''

In [7]:
import sqlite3

# Create SQLite database connection
conn = sqlite3.connect('database.db' ,)
c = conn.cursor()

c.execute("select * from users")
c.fetchall()

[('xyz', 100),
 ('abc', 10),
 ('def', 1),
 ('abc', 1),
 ('wq', 10),
 ('vivek', 1),
 ('vivek', 4),
 ('teja', 10),
 ('honey', 30),
 ('satish', 30),
 ('bannu', 50),
 ('vivek', 4),
 ('teja', 10),
 ('honey', 20),
 ('vinay', 60),
 ('tiv', 100)]

In [13]:
#now deleteing all from database
# Create SQLite database connection
conn = sqlite3.connect('database.db' ,)
c = conn.cursor()

c.execute("delete * from users")
c.fetchall()

OperationalError: near "*": syntax error

In [14]:
import sqlite3

# Create SQLite database connection
conn = sqlite3.connect('database.db')
c = conn.cursor()

# Delete all rows from the 'users' table
c.execute("DELETE FROM users")

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

OperationalError: database is locked

In [18]:
import sqlite3

# Create SQLite database connection
conn = sqlite3.connect('database.db' ,)
c = conn.cursor()

c.execute("select * from users")
c.fetchall()

OperationalError: database is locked

In [16]:
import sqlite3

# Create SQLite database connection
conn = sqlite3.connect('database.db')
c = conn.cursor()

# Execute the DELETE statement to delete all rows from the 'users' table
c.execute("DELETE FROM users")

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

OperationalError: database is locked